<h1>New User:</h1>
<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username:</label><br>
  <input type="text" id="username" name="user[username]" value=""><br>

  <label for="email">Email:</label><br>
  <input type="email" id="email" name="user[email]" value=""><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="user[password]" value=""><br>

  <input type="submit" value="Submit">
</form>